<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

 <!--<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reports</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
</head>
<body>
<!-- 
			  <div class="card-body">
				<h4 class="card-title">Contractor Master Report</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="inlineFormInputName2">Contractor</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="contractor" name="contractor"  placeholder="contractor">
				  <label class="sr-only" for="inlineFormInputName2">Work Order</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="work_order" name="work_order"  placeholder="work order">
				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
				  </form>
			  
				</div>
				 -->
					<!--   <div class="template-demo"> -->
					

					   <p align="right">
					 
					  <button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>
					  </p>
					 <p align="right">
					  <button type="button" class="btn btn-gradient-info btn-icon-text"> Excel <i class="mdi mdi-excel btn-icon-append"></i>
					  </button>
					  </p>
					<!-- </div> -->
					
<table class="table table-bordered"> 				
<thead>
<tr>
	  <th>Cont Code:</th>			 
      <th colspan="2">Cont Name:null</th>
      <th colspan="3">Work Order No:null</th>
</tr>	 
</thead>
<tbody>
<tr>
 
					<td>S.NO</td> 
					<td>Contractor Code</td>
					<td>Contractor Name</td>
					<td>Lic NO</td>
					<td>Rc No</td>
					<td>Cont Type</td>
					
					
</tr> 

</tbody>
</table>	
			
		  
		   <!-- Footer Page-->
<%- include('../nav/footer') %>