<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forms</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
  <div class="card">
			  <div class="card-body">
				<h4 class="card-title">EIC Master Report</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="inlineFormInputName2">EIC No</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="eic_no" name="eic_no"  placeholder="eic_no">
				  <label class="sr-only" for="inlineFormInputName2">EIC Name</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="eic_name" name="eic_name"  placeholder="eic name">
				  
				 
				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
				</form>
			  </div>
			</div>
		  </div>
		  
		  