<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

  <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reports</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
  <div class="content-wrapper">
		<div class="row">
	 <div class="col-20 grid-margin stretch-card">
			<div class="card">
			  <div class="card-body">
				<h4 class="card-title">IN-OUT Report</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="inlineFormInputName2">From Date</label>
				  <input type="date" class="form-control mb-2 mr-sm-2" id="from_dt" name="from_dt"  placeholder="from date">
				  <label class="sr-only" for="inlineFormInputName2">To Date</label>
				  <input type="date" class="form-control mb-2 mr-sm-2" id="to_dt" name="to_dt"  placeholder="to date">
				  <label class="sr-only" for="inlineFormInputName2">Contractor Code</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="contractor_code" name="contractor_code"  placeholder="contractor code">
				  
<!-- 				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
 -->				  <input type="hidden" name="msent" id="msent" />
						<td style="padding-left: 10px;"><input type="submit" name="addBranch" id="addBranch" class="btn btn-success" value="SEARCH" onClick="addBranch()"></td>
						<td width="5%" ><input type="button" onclick="printDiv('printableArea')" value="Print" class="btn btn-primary"/></td>
						<td width="5%"><input type="submit" name="myButtonControlID" id="myButtonControlID" class="btn btn-primary" value="EXCEL"></td>
				</form>
			  </div>
			</div>
		  </div>
		  
		  
		  <!-- Footer Page-->
<%- include('../nav/footer') %>
		  
		  