<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reports</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
  <div class="content-wrapper">
		<div class="row">
	 <div class="col-12 grid-margin stretch-card">
			<div class="card">
			  <div class="card-body">
				<h4 class="card-title">WorkOrder Report</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="work order">Work Order</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="work_order" name="work_order"  placeholder="work_order">
				  <label class="sr-only" for="inlineFormInputName2">Work Order</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="work_order" name="work_order"  placeholder="work order">
				  
				 
				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
				</form>
			  </div>
			</div>
		  </div>
		  
		  