<%- include ('../nav/header') %>
    <!-- Sidebar Page -->
    <%- include('../nav/sidebar') %>
	 <div class="content-wrapper">
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">
<div class="card-body">
<h4 class="card-title">Deduction</h4>

					<div class="col-sm-12 text-right">
					
				 	   <div class="w3-show-inline-block">
  <div class="w3-bar"> 
					
					<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>
					 
					 
					  <button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.excel();"> Excel <i class="mdi mdi-excel btn-icon-append"></i>
					  </button>
					</div>
					</div> 
  </div>
	<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">
				<div class="card-body">						
<table class="table table-bordered"> 				
<thead>
<tr>
	  <th>#</th>			 
      <th>Payroll Month</th>
      <th>Payroll Year</th>
	  <th>Payroll Date</th>
      <th>Employee Code</th>
      <th>Name</th>
	  <th>Work Order No</th>
	   <th>Advance Amount</th>
	    <th>Action</th>

</tr>	 
</thead>
<tbody>
<tr>
<td>1</td>
<td>Payroll Month</td> 
<td>Payroll Year</td> 
<td>Payroll Date</td> 
<td>Employee Code</td> 
<td>Name</td> 
<td>Work Order No</td> 
<td>Advance Amoun</td> 
<td>Go</td>					
					
</tr> 

</tbody>
</table>
</div>
</div>
</div>
</div>
        <!-- Footer Page-->
        <%- include('../nav/footer') %>