<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>


	 <div class="content-wrapper">
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">		
    <div class="card-body">
        <h4 class="card-title">Wage Register</h4>
       <form class="form-inline" method="POST" action="/formbwage/formbwage">
            <label class="sr-only" for="Contractor">Contractor</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="Contractor" name="Contractor" placeholder="Contractor">
            <label class="sr-only" for="Month">Month</label>
			 <input type="text" class="form-control mb-2 mr-sm-2" id="month" name="month" placeholder="Month">
            <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
        </form>
    </div>
	<div class="col-sm-12 text-right">
				 	   <div class="w3-show-inline-block">
  <div class="w3-bar"> 
					<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>
					  <button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.excel();"> Excel <i class="mdi mdi-excel btn-icon-append"></i>
					  </button>
					</div>
					</div> 
  </div>
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">	
<div class="card-body">			
<table class="table table-bordered"> 				
<thead>
<center>					
<h5>FORM B</br>
Wage Register</h5>
</center>
<tr>
	  <th>Name and address of Contractor :</th>			 
      <th>A J ASSOCIATES</th>
      <th>Name and address of Principal employer :</th>
	  <th>CHENNAI PETROLEUM CORPORATION LIMITED MANALI, CHENNAI-600068</th>
	  <th>Name of Owner LIN</th>
</tr>	
<tr>
 <th>Wage period</th>	
 <th colspan="3">From :01/02/03/ To 31/32/33/</th>	
 	
 <th colspan="12">(Monthly/Fortnight/Weekly/Daily/Piece Rated)</th>	
  <th colspan="3">Work order</th>
   <th colspan="3">25757787</th>
   </tr>
</thead>
<tbody>
<tr>
 
					<td>S.NO</td> 
					<td>Sl. No. in Employee Register</td>
					<td>ID Card No</td>
					<td>Name</td>
					<td>Rate of wage</td>
					<td>No. of days Worked</td>
					<td>Over time Hours Worked</td>
					<td>Basic</td>
					<td>Special Basic</td>
					<td>DA</td>
					<td>Payments Overtime</td>
					<td>HRA</td>
					<td>Other Allowance</td>
					<td>Incentive</td>
					<td>Arrear Basic</td>
					<td>Misc.Credit</td>
					<td>Total</td>
					<td>PF</td>
					<td>ESIC</td>
										<td>Society</td>

					<td>	Income Tax</td>

					<td>Insurance</td>

					<td>Others</td>
					<td>Recoveries</td>

					<td>PTAX</td>
					<td>LWF</td>
					<td>Misc.Ded	</td>
					<td>Total Deduction</td>
					<td>Net Payment</td>
					<td>Employee share PF Welfare</td>
										<td>Receipt by Employee/Bank Transaction ID</td>

					<td>Date of paymen</td>
</tr> 

</tbody>
</table>
</div>
</div>
</div>

<!-- Footer Page-->
		<%- include('../nav/footer') %>