<div class="card">
    <div class="card-body">
      <h4 class="card-title">Wageslip</h4>
      
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Contractor</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="contractor" name="contractor"  placeholder="contractor">
        <label class="sr-only" for="inlineFormInputName2">Employee</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="employee" name="employee"  placeholder="employee">
        <label class="sr-only" for="inlineFormInputName2">Month</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="month" name="month"  placeholder="month">
       
        <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
      </form>
    </div>
  </div>