<%- include ('../nav/header')  %> 
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>
		  <div class="col-md-9 grid-margin stretch-card">
			<div class="card">
			  <div class="card-body">
			  
				<h4 class="card-title">Contractor Master Edit</h4>
			
				<form class="forms-sample">
				<div class="form-group row">
					<label for="exampleInputContractor_Code" class="col-sm-3 col-form-label">Contractor Code</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputContractor_Code" placeholder="Contractor Code">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="exampleInputContractor_Name" class="col-sm-3 col-form-label">Contractor Name</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputContractor_Name" placeholder="Contractor Name">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="exampleInputAddress" class="col-sm-3 col-form-label">Address</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="exampleInputPrefix_Code" class="col-sm-3 col-form-label">Prefix Code</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputPrefix_Code" placeholder="Prefix Code">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="exampleInputName of the proprietor/owner/MD/partner" class="col-sm-3 col-form-label">Name of the proprietor/owner/MD/partner</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputName of the proprietor/owner/MD/partner" placeholder="Name of the proprietor/owner/MD/partner">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="exampleInputContractor E-mail ID" class="col-sm-3 col-form-label">Contractor E-mail ID</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputContractor E-mail ID" placeholder="Contractor E-mail ID">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="exampleInputESI Code No" class="col-sm-3 col-form-label">ESI Code No</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputESI Code No" placeholder="ESI Code No">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="exampleInputPF Code No" class="col-sm-3 col-form-label">PF Code No</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputPF Code No" placeholder="PF Code No">
					</div>
				  </div>
				 
				    <div class="form-group row">
					<label for="exampleInputContractor PAN No" class="col-sm-3 col-form-label">Contractor PAN No</label>
				  <div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputContractor PAN No" placeholder="Contractor PAN No">
					</div>
				  </div>
				  				    <div class="form-group row">
					<label for="exampleInputContractor LIN" class="col-sm-3 col-form-label">Contractor LIN</label>
				  <div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputContractor LIN" placeholder="Contractor LIN">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="exampleInputMobile_No" class="col-sm-3 col-form-label">Mobile No</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputMobile_No" placeholder="Mobile No">
					</div>
				  </div>
				  			    <div class="form-group row">
					<label for="exampleInputName of person/Mail id who is looking over compliance/HR Department" class="col-sm-3 col-form-label">Name of person/Mail id who is looking over compliance/HR Department </label>
				  <div class="col-sm-9">
					  <input type="text" class="form-control" id="exampleInputName of person/Mail id who is looking over compliance/HR Department" placeholder="Name of person/Mail id who is looking over compliance/HR Department">
					</div>
				  </div>
				
				  
				  <center>
				  <button type="button" class="btn btn-gradient-success btn-fw">Save</button>
				  
				 <button type="button" class="btn btn-gradient-danger btn-fw">cancel</button>
				  </center>
				</form>
			  </div>
			</div>
		  </div>
		  <!-- Footer Page-->
<%- include('../nav/footer') %>