<%- include ('../nav/header') %>
    <!-- Sidebar Page -->
    <%- include('../nav/sidebar') %>
    <a type="button" class="btn btn-gradient-primary btn-rounded btn-fw" id="addbutton"
    href="/employeenew">Back</a>
<br/><br/>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Employee Master</h4>
        <p class="card-description"> </p>
        <form class="forms-sample"  method="POST" action="/employee/add" autocomplete="off" onsubmit="showAlert()">

            <div class="form-group row">
                <label for="ccode" class="col-sm-3 col-form-label">Contractor Code</label>
                <div class="col-sm-9">
                     <input list="cont_code" class="form-control" name="ccode" id="ccode" onchange="getuniqcode(this.value)" required>
                    <datalist id="cont_code">
                        <% conDetailsCode.forEach(function(concode){ %>
                            <option value="<%= concode.CODE_NAME %>">
                            </option>
                            <%})%>
                    </datalist> 
                </div>
            </div>

            <div class="form-group row">
                <label for="workorder" class="col-sm-3 col-form-label">Work Order No</label>
                <div class="col-sm-9">
                    <select class="form-control" name="work_order_no" id="work_order_no" onchange="getWoDate(this.value)">
                        <option value="NULL" selected>Select Work Order Number</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Work Order Date</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="workorder_date" name="workorder_date"
                    placeholder="Work Order Date Comes Here..."  required readonly/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Total Work Man</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="workman_total"
                    placeholder="Total Work Man Comes Here..."   disabled/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Available Work Man</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="available_workman" name="available_work_man"
                    placeholder="Available Work Man Comes Here..." disabled/>
                </div>
            </div>
            <div class="form-group row">
                <label for="emp_code" class="col-sm-3 col-form-label">New Employee Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="emp_code" name="emp_code" onkeyup="success()"
                        placeholder="emp code" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="emp_code" class="col-sm-3 col-form-label">Card Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="card_number" name="card_number"
                        placeholder="Card Number" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="emp_code" class="col-sm-3 col-form-label">Old Employee Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="old_emp_number" name="old_emp_number"
                        placeholder="Old Employee Code" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="emp_code" class="col-sm-3 col-form-label">Employee Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="emp_name" name="emp_name"
                        placeholder="Enter Emp Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Wo validity from</label>
                <div class="col-sm-9"> 
                    <input type="text" class="form-control" id="wo_val_from" name="wo_val_from"
                      placeholder="Choose Wo validity from &#xf073" style="font-family:Arial, FontAwesome" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Wo validity To</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="wo_val_to" name="wo_val_to" 
                    placeholder="Choose Wo validity To &#xf073" style="font-family:Arial, FontAwesome" required/>
                </div>
            </div>

            <div class="form-group row">
                <label for="Father" class="col-sm-3 col-form-label">Father / Husband Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Father" name="Father" placeholder="Father Name" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="designation" class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                    <select class="form-control" id="designation" name="designation" required>
                        <option value="" selected disabled>--Select Designation--</option>
                        <option>SITE INCHARGE</option>
                        <option>MANAGER</option>
                        <option>OWNER</option>
                        <option>CONTRACT WORKMAN</option>
                        <option>SUPERVISOR</option>
                        <option>ENGINEER</option>
                        <option>DRIVER</option>
                        <option>ACCOUNTANT</option>
                        <option>PROPRIETRO</option>
                        <option>SECURITY GUARD</option>
                        <option>CLEANER</option>
                        <option>VICE PRESIDENT</option>
                        <option>AUDITOR</option>
                        <option>STAFF NURSE</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">DOB</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="dob" name="dob" 
                      placeholder="Choose DOB &#xf073" style="font-family:Arial, FontAwesome" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Engaged Date</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Engaged_Date" name="Engaged_Date" 
                      placeholder="Coose Engaged Date &#xf073" style="font-family:Arial, FontAwesome" required/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="gender1" value="M"
                                checked required>
                            Male </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="gender2" value="F" required>
                            Female </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Marital Status</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="mstatus" id="mstatus1" value="M"
                                 required>
                            Married </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="mstatus" id="mstatus2" value="S" 
                            checked required>
                            Un married</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Present_address" class="col-sm-3 col-form-label">Present Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Present_address" name="Present_address"
                        placeholder="Present address" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="permanent_address" class="col-sm-3 col-form-label">Permanent Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="permanent_address" name="permanent_address"
                        placeholder="permanent address" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="permanent_address" class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="state" name="state"
                        placeholder="Enter State" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="phone_no" class="col-sm-3 col-form-label">Phone No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone_no" name="phone_no"
                        placeholder="phone no" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="email_id" class="col-sm-3 col-form-label">Email Id</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email_id" name="email_id"
                        placeholder="email id" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="Emergency_Mobile_Number" class="col-sm-3 col-form-label">Emergency Mobile Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Emergency_Mobile_Number"
                        name="Emergency_Mobile_Number" placeholder="Emergency Mobile Number" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="nominee_name" class="col-sm-3 col-form-label">Nominee Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nominee_name" name="nominee_name"
                        placeholder="nominee name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="nominee_relation" class="col-sm-3 col-form-label">Nominee Relation</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nominee_relation" name="nominee_relation"
                        placeholder="nominee relation" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="nominee_dob" class="col-sm-3 col-form-label">Nominee DOB</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nominee_dob" name="nominee_dob"
                        placeholder="Nominee dob &#xf073" style="font-family:Arial, FontAwesome" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    <select id="category" name="category"  class="form-control" onchange="getWage(this.value)" required>
                        <option value="" selected disabled>--Select Skill--</option>
                        <option>UN SKILLED</option>
                        <option>SEMI SKILLED</option>
                        <option>SKILLED</option>
                        <option>HIGHLY SKILLED</option>
                    </select>
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="wage_per_day" class="col-sm-3 col-form-label">Wage Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="wage_per_day" id="wage_per_day" readonly required/>
                </div>
            </div>
            <div class="form-group row">
                <label for="Incentive_per_day" class="col-sm-3 col-form-label">Incentive Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Incentive_per_day" name="Incentive_per_day"
                        placeholder="Incentive per day" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Allowance_per_day" class="col-sm-3 col-form-label">Allowance Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Allowance_per_day" name="Allowance_per_day"
                        placeholder="Allowance per day" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="Any_other_wages" class="col-sm-3 col-form-label">Any Other Wages</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Any_other_wages" name="Any_other_wages"
                        placeholder="Any other wages" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="UAN" class="col-sm-3 col-form-label">UAN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="uan" name="uan" placeholder="UAN" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="ESI_no" class="col-sm-3 col-form-label">ESI No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="ESI_no" name="ESI_no" placeholder="ESI no" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Aadhar_card_no" class="col-sm-3 col-form-label">Aadhar Card No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Aadhar_card_no" name="Aadhar_card_no"
                        placeholder="Aadhar card no" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Identical_mark1" class="col-sm-3 col-form-label">Identical Mark1</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Identical_mark1" name="Identical_mark1"
                        placeholder="Identical mark1" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Bank_name" class="col-sm-3 col-form-label">Bank Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Bank_name" name="Bank_name"
                        placeholder="Bank name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Account_no" class="col-sm-3 col-form-label">Account No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Account_no" name="Account_no"
                        placeholder="Account no" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="Ifsc" class="col-sm-3 col-form-label">IFSC CODE</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="ifsc_code" name="ifsc_code"
                        placeholder="Ifsc code" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Blood_grp" class="col-sm-3 col-form-label">Blood GRP</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Blood_grp" name="Blood_grp"
                        placeholder="Blood grp" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Entry_gate" class="col-sm-3 col-form-label">Entry Gate</label>
                <div class="col-sm-9">
                    <select class="form-control" id="Entry_gate" name="Entry_gate">
                        <option value="" selected disabled>--Select Entry Gate--</option>
                        <option>ETP-II</option>
                        <option>LCG</option>
                        <option>LCG/LG/ETP-II</option>
                        <option>LG</option>
                        <option>LG/ETP-II</option>
                        <option>LG/ETP-II/TTP</option>
                        <option>LG/TTP</option>
                        <option>LG/WG-I/ETP-II/TTP</option>
                        <option>LG/WG-II/TTP/WG-I</option>
                        <option>TTP</option>
                        <option>WG-I</option>
                        <option>WG-I/ETP-II</option>
                        <option>WG-I/ETP-II/TTP</option>
                        <option>WG-I/TTP</option>
                        <option>WG-II</option>
                    </select>
                   
                </div>
            </div>
            <div class="form-group row">
                <label for="Work_spot" class="col-sm-3 col-form-label">Work Spot/Department</label>
                <div class="col-sm-9">
                    <select class="form-control" id="Work_spot" name="Work_spot" required>
                        <option value="" selected disabled>--Select Department--</option>
                        <option>FINANCE</option>
                        <option>HR</option>
                        <option>LOGISTICS</option>
                        <option>MAINTENANCE</option>
                        <option>OPERATION</option>
                        <option>PROJECTS</option>
                        <option>TECHNICAL</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Area Of Work</label>
                <div class="col-sm-9">
                    <select class="form-control" name="Area_of_work" id="Area_of_work" placeholder="Area Of Work" required>
                        <option value="" selected disabled>--Select Area Of Work--</option>
                        <option> ADMIN </option>
                        <option> E&I </option>
                        <option> F&S </option>
                        <option> GENERAL </option>
                        <option> IT&S </option>
                        <option> MAINTENANCE </option>
                        <option> MATERIALS & CONTRACTS </option>
                        <option> OHS </option>
                        <option> OPERATION </option>
                        <option> OTHERS </option>
                        <option> PE </option>
                        <option> POWER & UTILITIES </option>
                        <option> PROJECTS </option>
                        <option> PT&S </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Area Of Place</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="area_of_place" id="area_of_place"
                                value="1" checked required> Plant</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="area_of_place" id="area_of_place"
                                value="2" required> Non Plant</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pass Validity From</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="pass_val_from" id="pass_val_from"
                      placeholder="Pass Validity From &#xf073" style="font-family:Arial, FontAwesome" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pass Validity To</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="pass_val_to" id="pass_val_to"
                      placeholder="Choose Pass Validity To &#xf073" style="font-family:Arial, FontAwesome"  required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Safety Training From</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="safety_training_from"
                       placeholder="Choose Safety Training From &#xf073" style="font-family:Arial, FontAwesome" id="safety_training_from" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Safety Training To</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="safety_training_to" id="safety_training_to"
                      placeholder="Choose Safety Training To &#xf073" style="font-family:Arial, FontAwesome"  required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Payroll</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="payroll" id="payroll" value="Y"
                                checked>
                            Yes </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="payroll" id="payroll" value="N" required>
                            No </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">ESI ELIGIBLE</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="esi_eligible" id="esi_eligible" value="Y"
                                checked>
                            Yes </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="esi_eligible" id="esi_eligible" value="N" required>
                            No </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">PF ELIGIBLE</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="pf_eligible" id="pf_eligible" value="Y"
                                checked>
                            Yes </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="pf_eligible" id="pf_eligible" value="N" required>
                            No </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status" id="status" value="1"
                                checked>
                            Active </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status" id="status" value="2" required>
                            Inactive </label>
                    </div>
                </div>
            </div>
            <center>
                <button type="submit" class="btn btn-gradient-success btn-rounded btn-fw">Save</button>
               <!--  <button class="btn btn-gradient-danger btn-rounded btn-fw">Cancel</button> -->
            </center>
        </form>
    </div>
</div>

<!-- Footer Page-->
<%- include('../nav/footer') %>

<!--Contractor Data Bind -->
<script>
    function getuniqcode(ccodeName) {
        // alert(ccodeName);
        var ccode = ccodeName.split("-",1);
        console.log(ccode[0])
        $.ajax({
            type: 'POST',
            data: { "ccode": ccode[0] },
            url: '/get/contractor',
            success: function (data) {    
                $('#work_order_no').empty();
                $('#emp_code').empty();
                $('#work_order_no').append("<option>Select Work Order Number</option >"); 
                    //alert(data.length);
                    //console.log(data);
                    //$('#emp_code').val(data.prfxCode.prefix_code);
                    for(i=0;i<data.length;i++){
                        var EmpCode = data[1][0].prefix_code;
                        var EmpCodeCount = data[2][0].availableCount;
                        //var newEmpCodeCount = Number(data[2][0].availableCount) + Number(1);
                        var NewEmpCode = String(EmpCode) + String(EmpCodeCount);
                        $('#emp_code').val(NewEmpCode);
                        for(j=0;data[j].length;j++){
                            $('#work_order_no').append("<option value = '" + data[i][j].WORK_ORDER + "' > " + data[i][j].WORK_ORDER + " </option > ");
                        }
                    }
            }
        });
    }
</script>

<!--Get Work Order Date-->
<script>
    function getWoDate(WoNumber) {
        //var WoNumber = document.getElementById("work_order_no").value;
        // alert(WoNumber);
        $.ajax({
            type: 'POST',
            data: { "wonumber": WoNumber },
            url: '/get/contractor/work_order_date',
            success: function (data) {
                //console.log(data);
                $('#available_workman').empty();
                $('#workman_total').empty();
                $('#available_workman').empty();
                var i;
                for (i = 0; i < data.length; i++) {
                    //alert(addressObj.availableCount);
                    $('#workorder_date').val(data[0].WORK_OR_DATE.substring(0, 10));
                    $('#workman_total').val(data[0].WORKMEN_TOT);
                    var WORKMEN_TOT = data[0].WORKMEN_TOT;
                    var availableCount = data[1].availableCount;

                    if (WORKMEN_TOT == Null) {
                        $('#available_workman').val(availableCount);
                    } else {
                        var availableWorkman = Number(WORKMEN_TOT) - Number(availableCount);
                        $('#available_workman').val(availableWorkman);
                    }

                }
            }
        });
    }
</script>

<!--Available Work Man Validation-->
<script>
    function empFormValidation() {
        if (document.getElementById("available_workman").value === 21) {
            document.getElementById('Submit').disabled = true;
            window.alert("Available Work Man 0");
        } else {
            document.getElementById('Submit').disabled = false;
        }
    }
</script>

<!--   Date Format-->
<script>
    $(document).ready(function () {
        var currentDate = new Date();
        $('#wo_val_from').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        }); 
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#wo_val_to').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#dob').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#Engaged_Date').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#nominee_dob').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#pass_val_from').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });

    $(document).ready(function () {
        var currentDate = new Date();
        $('#pass_val_to').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
    $(document).ready(function () {
        var currentDate = new Date();
        $('#safety_training_from').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
    $(document).ready(function () {
        var currentDate = new Date();
        $('#safety_training_to').datepicker({
            dateFormat: 'yy-mm-dd',
            autoclose: true,
            endDate: "currentDate",
            //maxDate: currentDate
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script> 

<!--Show Alert-->
<script>
    function showAlert() {
        alert("Employee Details Successfully Inserted");
    }
</script>

<!--Get Wage Value-->
<script>
    function getWage(wage) {

        if ( wage == "UN SKILLED"){

            $('#wage_per_day').val(639);

        }else if( wage == "SEMI SKILLED"){

            $('#wage_per_day').val(707);

        }else if( wage == "SKILLED") {

            $('#wage_per_day').val(777);

        }else if( wage == "HIGHLY SKILLED") {

            $('#wage_per_day').val(845);

        }
    }
</script>