<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <!--Menu Master-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Masters</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-file-document-box menu-icon"></i>
      </a>
      <div class="collapse" id="menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/engineer">Engineer</a></li>
          <li class="nav-item"> <a class="nav-link" href="/shift">Shift</a></li>
          <li class="nav-item"> <a class="nav-link" href="/gate">Gate</a></li>
        </ul>
      </div>
    </li>
    <!--Contractor Master-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#contractor" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Contractor</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
      <div class="collapse" id="contractor">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/contractornew">Contractor Master</a></li>
          <li class="nav-item"> <a class="nav-link" href="/workordernew">Work Order</a></li>
          <li class="nav-item"> <a class="nav-link" href="/employeenew">Employee</a></li>
        </ul>
      </div>
    </li>
    <!--Pass-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#pass" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Pass</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account-card-details menu-icon"></i>
      </a>
      <div class="collapse" id="pass">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/passrequestone">Pass Request 1</a></li>
          <li class="nav-item"> <a class="nav-link" href="/passrequesttwo">Pass Request 2</a></li>
          <li class="nav-item"> <a class="nav-link" href="/passrequestthree">Pass Request 3</a></li>
          <li class="nav-item"> <a class="nav-link" href="/printpass">Pass Print</a></li>
        </ul>
      </div>
    </li>
    <!--Attendance-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#attendance" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Attendance</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-border-color menu-icon"></i>
      </a>
      <div class="collapse" id="attendance">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/attendance">Attendance</a></li>
          <li class="nav-item"> <a class="nav-link" href="/attendance_in_out">Attendance In-Out</a></li>
          <li class="nav-item"> <a class="nav-link" href="/attendance_edit">Attendance Edit</a></li>
        </ul>
      </div>
    </li>
    <!--Pay Roll-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#payroll" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Pay Roll</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-book-open-page-variant menu-icon"></i>
      </a>
      <div class="collapse" id="payroll">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/pay_roll_generation">Pay Roll Generation</a></li>
          <li class="nav-item"> <a class="nav-link" href="/wage_slip">Wage Slip</a></li>
          <li class="nav-item"> <a class="nav-link" href="/form_b_wage_register">Form B Wage Register</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration3">Work Order Billing</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration4">Form D Attendance Reg</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration65">Attendance Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration6">Mail & Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration8">Deduction</a></li>
          <li class="nav-item"> <a class="nav-link" href="/payrollgeneration9">Payroll Close</a></li>
        </ul>
      </div>
    </li>
    <!--Reports-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-pencil-box-outline menu-icon"></i>
      </a>
      <div class="collapse" id="reports">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/contractormaster">Contractor Master Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href="/employeemaster">Employee Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href="/inout">In-Out Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href="/workorder">Work Order Reports</a></li>
          <li class="nav-item"> <a class="nav-link" href="/eicreport">EIC Reports</a></li>
        </ul>
      </div>
    </li>
    <!--Admin-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Admin</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-pencil-box-outline menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/register">Register</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>