<%- include ('../nav/header') %>
  <!-- Sidebar Page -->
  <%- include('../nav/sidebar') %>

    <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
	<div class="content-wrapper">
		<div class="row">

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Attendence</h4>
      
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Contractor</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="contractor" name="contractor"  placeholder="contractor">
        <label class="sr-only" for="from_date">From Date</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="from_date" name="from_date"  placeholder="from date">
        <label class="sr-only" for="inlineFormInputName2">To date</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="to_date" name="to_date"  placeholder="to date">
       
        <!--<button type="submit" class="btn btn-gradient-primary mb-2">Go</button>-->
		<!--<input type="button" class="btn btn-primary" value="GO" onclick="wage_report_page()">-->

<input type="hidden" name="msent" id="msent" />

						<td style="padding-left: 10px;"><input type="submit" name="addBranch" id="addBranch" class="btn btn-success" value="GO" onClick="addBranch()"></td> 
					
						<!--<button type="button" class="btn btn-gradient-info btn-icon-text"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>-->
				 <br><h2>SUN FACILITIES SERVICES <br/>SHIFT WISE REPORTED DETAILS ON 21/11/2020-30/11/2020</h2></br>
<hr>
	<div class="container-fluid">

		<h3 class="mb-2">LG</h3>
		<div class="row">
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>-->
	    <div class="">
				<i class="mdi mdi-email"></i></div>
				  <div class="info-box-contents">
					<span class="info-box-text">1st SHIFT</span>
					<span class="info-box-number">97</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>-->
		  
					   <div class="">
				<i class="mdi mdi-flag"></i>
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">G SHIFT</span>
					<span class="info-box-number">422</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<div class="info-box-icon bg-warning"><i class="far fa-copy"></i></div>-->
   <div class="">
				<i class="mdi mdi-file-send"></i> 
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">2nd SHIFT</span>
					<span class="info-box-number">49</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				<div class="">
				<i class="mdi mdi-star-half"></i></div>
				  <!--<span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>-->

				  <div class="info-box-contents">
					<span class="info-box-text">3rd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
		</div>
		<!-- /.row -->
		
		<h3 class="mb-2">ETP-II</h3>
		<div class="row">
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>-->
 <div class="">
				<i class="mdi mdi-email"></i></div>
				  <div class="info-box-contents">
					<span class="info-box-text">1st SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>-->
		   <div class="">
				<i class="mdi mdi-flag"></i>
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">G SHIFT</span>
					<span class="info-box-number">5</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>-->
<div class="">
				<i class="mdi mdi-file-send"></i> 
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">2nd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>-->
	<div class="">
				<i class="mdi mdi-star-half"></i></div>
				  <div class="info-box-contents">
					<span class="info-box-text">3rd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
		</div>
		<!-- /.row -->
		
		<h3 class="mb-2">TTP</h3>
		<div class="row">
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

				  <div class="info-box-contents">
					<span class="info-box-text">1st SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>-->
		   <div class="">
				<i class="mdi mdi-flag"></i>
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">G SHIFT</span>
					<span class="info-box-number">5</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>-->
<div class="">
				<i class="mdi mdi-file-send"></i> 
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">2nd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>-->
	<div class="">
				<i class="mdi mdi-star-half"></i></div>
				  <div class="info-box-contents">
					<span class="info-box-text">3rd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
		</div>
		<!-- /.row -->
		
		<h3 class="mb-2">WG-1</h3>
		
		<div class="row">
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>-->
				  <div class="">
				<i class="mdi mdi-email"></i></div>

				  <div class="info-box-contents">
					<span class="info-box-text">1st SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>-->
		   <div class="">
				<i class="mdi mdi-flag"></i>
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">G SHIFT</span>
					<span class="info-box-number">5</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>-->
<div class="">
				<i class="mdi mdi-file-send"></i> 
			  </div>
				  <div class="info-box-contents">
					<span class="info-box-text">2nd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
			  <div class="col-md-3 col-sm-6 col-12">
				<div class="info-box">
				  <!--<span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>-->
	<div class="">
				<i class="mdi mdi-star-half"></i></div>
				  <div class="info-box-contents">
					<span class="info-box-text">3rd SHIFT</span>
					<span class="info-box-number">0</span>
				  </div>
				  <!-- /.info-box-contents -->
				</div>
				<!-- /.info-box -->
			  </div>
			  <!-- /.col -->
		</div>
		<!-- /.row -->
	</div> 
 
		

      </form>
    </div>
  </div>
 
    <!-- Footer Page-->
    <%- include('../nav/footer') %>