<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">EIC Master</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> User </th>
                        <th> Daily Attendance Track </th>
                        <th> Advance Payment </th>
                        <th> ESI,PF,LWF Masters </th>
                        <th> Payroll Generate </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> 100% </td>
                        <td> 1000 </td>
                        <td> 2000 </td>
                        <td> Generate </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> 100% </td>
                        <td> 1000 </td>
                        <td> 2000 </td>
                        <td> ReGenerate </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> 100% </td>
                        <td> 1000 </td>
                        <td> 2000 </td>
                        <td> ReGenerate </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>