

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forms</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
	<div class="card">
			  <div class="card-body">
				<h4 class="card-title">Head1</h4>
				<p class="card-description">  </p>
				<form class="forms-sample">
				  <div class="form-group row">
					<label for="work_spot" class="col-sm-3 col-form-label">Work Spot</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="work_spot" placeholder="Work Spot">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="area_of_work" class="col-sm-3 col-form-label">Area Of Work</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="area_of_work" placeholder="Area Of Work">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="entry_gate" class="col-sm-3 col-form-label">Entry Gate</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="entry_gate" placeholder="Entry Gate">
					</div>
				  </div>
				   <div class="form-group row">
					<label for="time_of_work" class="col-sm-3 col-form-label">Time Of Work</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="time_of_work" placeholder="Time of Work">
					</div>
				  </div>
				  
				<center>
				   <button type="button" class="btn btn-gradient-success btn-fw">Save</button>
				  <button type="button" class="btn btn-gradient-danger btn-fw">Cancel</button>
				  </center>
				</form>
			  </div>
			</div>
		 
		   <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>