 <%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

 <div class="card-body">
			<h4 class="card-title">print pass</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="designation">Designation</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="designation" placeholder="designation">
				  <label class="sr-only" for="po_date">Po Date</label>
				  <div class="input-group mb-2 mr-sm-2">
					<div class="input-group-prepend">
				
					</div>
					<input type="date" class="form-control" id="po_date" placeholder="po_date">
				  </div>
				 
				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
				</form>
			  </div>
			  
<!-- Footer Page-->
<%- include('../nav/footer') %>