 <%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

 
<div class="card">
	<div class="card-body">
			<h4 class="card-title">print pass</h4>
				
				<form class="form-inline" method="POST" action="/pass_print_view">
					<select class="form-control mb-2 mr-sm-2 w-25" id="contractor" name="contractor">
						<option>Superviser</option>
						<option>contractor</option>
					  </select>

					<input type="date" class="form-control mb-2 mr-sm-2 w-25" id="wo_from_date" name="wo_from_date">
				 
				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
				</form>
			  </div>
			  </div>
			  
<!-- Footer Page-->
<%- include('../nav/footer') %>