<div class="card">
    <div class="card-body">

        <h4 class="card-title">Work Order Cat1</h4>

        <form class="forms-sample">
            <div class="form-group row">
                <label for="exampleInputContractor Code" class="col-sm-3 col-form-label">Contractor Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputContractor_Code"
                        placeholder="Contractor_Code">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputVendor No" class="col-sm-3 col-form-label">Vendor No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputVendor_No" placeholder="Vendor_No">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputContractor Name" class="col-sm-3 col-form-label">Contractor Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputContractor_Name"
                        placeholder="Contractor_Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputWork order no" class="col-sm-3 col-form-label">Work order No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputWork_order_no" placeholder="Work _order_no">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputWork order Date" class="col-sm-3 col-form-label">Work order Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="exampleInputWork_order_date"
                        placeholder="Work_order_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputContractor Value" class="col-sm-3 col-form-label">Contractor Value</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Contractor Value" placeholder="Contractor Value">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputDuration of Month" class="col-sm-3 col-form-label">Duration Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="exampleInputDuration_Date" placeholder="Duration_Date">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputContract Duration" class="col-sm-3 col-form-label">Contract Duration </label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="exampleInputContract_Duration"
                        placeholder="Contract_Duration">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEIC PRNO" class="col-sm-3 col-form-label">EIC PRNO</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEIC_PRNO" placeholder="EIC_PRNO">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEngineer In Charge" class="col-sm-3 col-form-label">Engineer In Charge</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEngineer_In_Charge"
                        placeholder="Engineer_In_Charge">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputJob Desc" class="col-sm-3 col-form-label">Job Desc</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputJob_Desc" placeholder="Job_Desc">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputDepartment" class="col-sm-3 col-form-label">Department</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputDepartment" placeholder="Department">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEmployee count" class="col-sm-3 col-form-label">Employee count</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEmployee_count"
                        placeholder="Employee _count">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputCLRA" class="col-sm-3 col-form-label">CLRA</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputCLRA" placeholder="CLRA">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputISMW" class="col-sm-3 col-form-label">ISMW</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputISMW" placeholder="ISMW">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputTotal Workmen" class="col-sm-3 col-form-label">Total Workmen</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputTotal_Workmen" placeholder="Total _Workmen">
                </div>
            </div>
            <center>
                <button type="button" class="btn btn-gradient-success btn-fw">Save</button>

                <button type="button" class="btn btn-gradient-danger btn-fw">cancel</button>
            </center>
        </form>
    </div>
</div>